css
body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: helvetica;
}

.light-theme {
    color: #00FF00;
    background: #000000;
}